@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #F4F5F7;
  --primary-accent: #9FD3C7;
  --secondary-accent: #55879B;
  --primary-text: #333333;
  --secondary-text: #666666;
  --button-background: var(--primary-accent);
  --button-hover-background: #395B69;
  --input-focus-border: #9FD3C7;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --card-shadow: 0 4px 6px var(--shadow-color);
  --input-border: #E9ECEF;
}

